@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sofia+Sans+Semi+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --btn-color:#5779F1;
    --font--small:'Roboto', sans-serif;
}

.authentication-third-party-section{
    display: grid;
    grid-column: 2/5;
    grid-row: 2/3;
}

.authentication-third-party-section p{
    place-self: center;
    font-family: var(--font--small);
    font-size: 1.25rem;
    color: rgb(51, 50, 50);
}

.authentication-third-party{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    place-self: center;
    margin-top: 2rem;
    margin-right: 1rem;
}

.google img,.github img,.facebook img{
    width: clamp(30px,2.5vw,60px);
    height: clamp(30px,2.5vw,60px);
}

.google,.github,.facebook{
    width: clamp(40px,3vw,80px);
    height: clamp(40px,3vw,80px);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: white;
    margin-left: clamp(.1rem,1rem,1.2rem);
    border: 1px solid #2c2a2a59;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.google:hover,.github:hover,.facebook:hover{
    box-shadow: 0px 0px 4px #2c2a2a83;
}

.or{
    margin-top: 1.6rem;
}

.login-with-email-and-pass{
    display: grid;
    grid-row: 3/5;
    grid-column: 2/5;
}

.login-with-email-and-pass form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 20% 20%;
}

.input-for-email-and-pass{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/3;
    margin-top: 1.5rem;
    position: relative;
}

.email-input,.password-input{
    width: clamp(200px,60%,65%);
    height:65% ;
    place-self: center;
    border-radius: .75rem;
    border: 1px solid #B9B9B9;
    padding-left: 1rem;
    outline: none;
    font-family: var(--font--small);
    font-size: 1rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.918);
    transition: all .2s ease-in;
    color: #2e2a2a;
    margin-top:1rem ;
}

.email-input.active,.password-input.active {
    height:85% ;
    border: 1px solid  rgba(255, 0, 0, 0.808) ;
    margin-top: .8rem;
    outline: none;
}

.email-input.active:focus,.password-input.active:focus{
    outline:none;
}

.email-input:focus,.password-input:focus{
    outline:2px solid var(--btn-color);
}

.error-section{
    margin-left: 14%;
    margin-top: 2%;
}

.keep-logged-in-and-forget{
    display: flex;
    flex-direction:row;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/3;
    font-family: var(--font--small);
    font-size: clamp(.6rem,1vw,.8rem);
    margin-left:20% ;
}

.keep-me-logged-in{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: .25rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.keep-me-logged-in input{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.forgot{
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-left: 8%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.forgot p{
    color: #2A729A;
    text-decoration: underline;
    width: clamp(200px,80%,20rem);
    opacity: .8;
    -webkit-tap-highlight-color: transparent;
}

.submit-button{
    display: grid;
    grid-column: 1/3;
    grid-row: 3/4;
    width: clamp(180px,70%,65%);
    height: 72%;
    place-self: center;
    border: none;
    color: white;
    background-color: var(--btn-color);
    font-family: var(--font--small);
    border-radius: .65rem;
    place-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.submit-button:hover{
    background-color:#3d64f3 ;
}

.signup-btn{
    display: grid;
    grid-row: 5/6;
    grid-column: 2/5;
    font-family: var(--font--small);
    font-size: clamp(.6rem,3vw,1rem);
    color: #2A729A;
    text-decoration: underline;
    justify-self: center;
    margin-top: 1rem;
    cursor: pointer;
    opacity: .8;
    -webkit-tap-highlight-color: transparent;
}

.signup-btn:hover,.forgot p:hover{
    opacity: 1;
}

@media only screen and (max-width: 768px){
    .authentication-third-party-section{
        grid-column: 2/5;
        grid-row: 1/2;
        margin-top: 1rem;
    }
    .login-with-email-and-pass{
        grid-row: 2/5;
        grid-column: 2/5;
        margin-top: .5rem;
        position:relative;
    }
    .or{
        margin-top: .8rem;
    }

    .authentication-third-party{
        margin-top: 1rem;   
    }

    .keep-me-logged-in{
        margin-left: 10%;
        justify-content: start;
    }

    .forgot p{
        color: #2A729A;
        text-decoration: underline;
        width: clamp(100px,80%,20rem);
        opacity: .8;
    }
}

@media only screen and (max-width: 1000px){
    .keep-logged-in-and-forget{
        margin-left: 13%;
    }
}